name: Publish Package

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: "Publish"
    runs-on: ubuntu-latest
    environment: 
      name: NPM

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun i

      - name: Lint
        run: bun run lint

      - name: Formatting
        run: bun run format
        
      - name: Build package
        run: bun run build:production

      - name: Test
        run: bun test

      - name: Publish package via bun
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: bun publish